# Ignorar el entorno virtual
env/
venv/

# Archivos y carpetas de Python
__pycache__/
*.py[cod]

# Base de datos SQLite
*.sqlite3

# Configuraciones del editor
.vscode/

# Archivos de logs
*.log

# Archivos de entorno
.env
