# Entorno virtual
env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Base de datos local
db.sqlite3

# Archivos de configuración de entorno
.env

# Configuración del editor
.vscode/

# Archivos temporales y de sistema
.DS_Store
*.swp
*.swo
